.rectangulo{
width: 500px;
height: 350px;
background-color: black;
border: 2px black solid;
}
.cuadro{
width: 100px;
height: 100px;
background-color: purple;
border: 2px black solid;
}
.clearfix
{
	overflow:auto;
}
.float{
	float:left;
}